* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.quiz_page_header {
  background-color: #d3d3d3;
}
.quiz_page_header h1 {
  font-size: 1.5rem;
}
.quiz_page_welcome {
  text-transform: uppercase;
}
.score_section {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 5rem;
  color: yellow;
}
.option_section {
  margin-left: 0rem;
}

@media (min-width: 576px) {
  .option_section {
    margin-left: 10rem;
  }
}
